
.jumbotron {
    text-align: center;
    background-color: #2F4F4F;
}

body{
    background:url(../assets/weather1.jpg);  
}

.btn-group button {
    background-color: #4c9baf; /* Green background */
    border: 1px solid rgb(13, 116, 185); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #0d87d8;
  }